a.nav-tab:focus {
    outline: none;
}

.moj-es-settings-section {
    display: none
}

.moj-es .submit .button {
    display: none;
}

.moj-es h2,
p > small > strong {
    color: #0d8730
}

.moj-es .red {
    color: #bf0e09
}

.moj-es small.sub-title {
    color: #aaaaaa
}

.moj-es .input {
    min-width: 300px
}

.moj-es .intro {
    background-color: #2c5d94;
    color: #f1f2f2;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 3px;
    max-width: 50rem;
    min-width: 35rem;
}

#wpbody-content > div[id^="setting-error-"] {
    display: none;
}

.moj-es > .notice {
    margin: 5px 15px 2px 7px;
}

.moj-es button.index_button,
.moj-es button.kill_index_button {
    display: none
}

.moj-es .kill_index_button {
    margin-left: 30px;
}

.moj-es-stats-index-notice {
    margin-left: -20px;
    display: inline-block;
}

.moj-es-stats-index-notice > small > span {
    float:right;
    display: inline-block;
    min-width: 73px;
    text-align: left;
}

#inner-indexing-stats {
    opacity: 1;
}

.moj-es .large_file_holder {
    height: 100px;
    width: 200px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #1d6fb8;
    padding: 6px;
}

.progress {
    height: 1rem; /* Can be anything */
    position: relative;
    background: #ccd0d4;
    width: 107.8%;
    margin: -2px -12px 3px;
}

.progress > span {
    display: block;
    height: 100%;
    background-color: rgb(247 185 0);
    position: relative;
    overflow: hidden;
}

.progress > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

.progress > span:after, .animate > span > span {
    animation: move 2s linear infinite;
}

.index_time {
    border: 1px solid #ffd900;
    display: inline-block;
    background-color: #f1f2f2;
    padding: 3px 12px;
    margin: 0 0 0 -12px;
    font-weight: bold;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes ldio-hokc2a6hk1r {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ldio-hokc2a6hk1r div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-hokc2a6hk1r linear 1s infinite;
    background: #1d2830;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldio-hokc2a6hk1r div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #1d2830;
}

.ldio-hokc2a6hk1r div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #1d2830;
}

.loadingio-spinner-spinner-qniwaf77spg {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-hokc2a6hk1r {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-hokc2a6hk1r div {
    box-sizing: content-box;
}
